@CHARSET "ISO-8859-1";

body{
	font-family:'tahoma';
}

.clear3{
	height:20px;
	margin:22px 20px 0px 20px;
	border-bottom:solid 1px #a6a6a6;
}

table{
	text-align:center;
}

table {
 border-collapse:collapse;
 width:90%;
 }
th, td {
 border:1px solid black;
 width:20%;
 }
 
 th{
 	background-color:#eee;
 }
td {
 text-align:center;
 }
caption {
 font-weight:bold
 }